.sectionClub {
  background-color: rgba(133 143 164 / 0.2);
  padding: 0 0 110px 0;
  .containerClub {
    h2 {
      font-family: var(--font-inter-bold);
      font-size: 30px;
      padding: 0 0 30px 0;
    }
    button {
      color: #F53B49;
      border: 1px solid #F53B49;
      border-radius: 3px;
      background: rgba(133 143 164 / 0);
      font-family: var(--font-inter-bold);
      font-size: 14px;
      padding: 12px 20px;
      cursor: pointer;
    }
    .gridContainer {
      display: grid;
      grid-template-areas: "A A B C"
                           "D E F G";
      grid-gap: 30px;             
      margin: 0 0 30px 0;
      #gridA {
        grid-area: A;
        background-image: url('/landingClub/landingclub1.svg'), radial-gradient(circle at 53%, #858FA4, #565F73, #1A1A25);
        width: 690px;
        height: 280px;
        #main {
          color: #fff;
        }
      }
      #gridB {
        grid-area: B;
        background: #f0f1f7 url('/LandingClub/landingclub2.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        width: 330px;
        height: 280px;
      }
      #gridC {
        grid-area: C;
        background: #f0f1f7 url('/LandingClub/landingclub3.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        width: 330px;
        height: 280px;
      }
      #gridD {
        grid-area: D;
        background: #f0f1f7 url('/LandingClub/landingclub4.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        width: 330px;
        height: 280px;
      }
      #gridE {
        grid-area: E;
        background: #f0f1f7 url('/LandingClub/landingclub5.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        width: 330px;
        height: 280px;
      }
      #gridF {
        grid-area: F;
        background: #f0f1f7 url('/LandingClub/landingclub6.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        width: 330px;
        height: 280px;
      }
      #gridG {
        grid-area: G;
        background: #f0f1f7 url('/LandingClub/landingclub7.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        width: 330px;
        height: 280px;
      }
      .grid {
        border-radius: 5px;
        padding: 30px;
      }
      .gridTitle {
        display: block;
        width: 250px;
        color: #000;
        font-family: var(--font-inter-extrabold);
        font-size: 20px;
        font-weight: 800;
      }
    }
  }
}